[user]
  name =
  email =

[alias]
  a = add
  b = branch
  c = commit
  cl = clone
  co = checkout
  d = diff
  l = log
  p = pull
  ph = push
  r = rebase
  s = status
  sh = stash

[core]
	editor = vim
