[user]
  name =
  email =

[alias]
  a = add
  b = branch
  c = commit
  cl = clone
  co = checkout
  d = difftool
  df = diff
  l = log
  p = pull
  ph = push
  r = rebase
  s = status
  sh = stash

[core]
	editor = vim

[remote "origin"]
	prune = true

[diff]
	tool = vimdiff

[difftool]
	prompt = false
